<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="profilemapper">
	
	<update id="profileUpdate" parameterType="registDto">
		UPDATE MEMBER
		SET MEMBER_PICTURE_PATH = #{member_picture_path}
		WHERE MEMBER_EMAIL = #{member_email}
	</update>
	
	<select id="imfollowing" parameterType="int" resultType="registDto">
		SELECT MEMBER_PICTURE_PATH, MEMBER_ID
		FROM MEMBER JOIN FOLLOW
		ON(MEMBER_NO = FOLLOW_MEMBER_NO)
		WHERE FOLLOW_FOLLOWING_NO = #{follow_following_no}
	</select>
		
	<select id="followerofme" parameterType="int" resultType="registDto">
		SELECT MEMBER_PICTURE_PATH, MEMBER_ID
		FROM MEMBER
		JOIN FOLLOW ON(MEMBER_NO = FOLLOW_FOLLOWING_NO)
		WHERE FOLLOW_MEMBER_NO = #{follow_member_no}
	</select>
	
</mapper>