<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="BoardMapper">
	
	<resultMap  type="BoardDto" id="BoardMap">
		<result property="postUserNo" column="POST_USER_NO"/>
		<result property="postId" column="POST_ID"/>
		<result property="postNo" column="POST_NO"/>
		<result property="postBoardName" column="POST_BOARD_NAME"/>
		<result property="postCategoryName" column="POST_CATEGORY_NAME"/>
		<result property="postTitle" column="POST_TITLE"/>
		<result property="postContent" column="POST_CONTENT"/>
		<result property="postMdate" column="POST_MDATE"/>
		<result property="postRegdate" column="POST_REGDATE"/>
		<result property="postHit" column="POST_HIT"/>
		<result property="postCommentHit" column="POST_COMMENT_HIT"/>
		<result property="postLike" column="POST_LIKE"/>
		<result property="postDelflag" column="POST_DELFLAG"/>
		<result property="postLatitude" column="POST_LATITUDE"/>
		<result property="postLongitude" column="POST_LONGITUDE"/>
	</resultMap>	

	<select id="accompany_selectList" resultMap="BoardMap">
		SELECT POST_USER_NO, POST_ID, POST_NO,POST_BOARD_NAME,POST_CATEGORY_NAME,POST_TITLE,POST_CONTENT
		,POST_MDATE,POST_REGDATE,POST_HIT,POST_COMMENT_HIT,POST_LIKE,POST_DELFLAG,POST_LATITUDE,POST_LONGITUDE
		FROM POST
		WHERE POST_BOARD_NAME = 'ACCOMPANY'
	</select>
	
	<select id="notice_selectList" resultMap="BoardMap">
		SELECT POST_USER_NO, POST_ID, POST_NO,POST_BOARD_NAME,POST_CATEGORY_NAME,POST_TITLE,POST_CONTENT
		,POST_MDATE,POST_REGDATE,POST_HIT,POST_COMMENT_HIT,POST_LIKE,POST_DELFLAG,POST_LATITUDE,POST_LONGITUDE
		FROM POST
		WHERE POST_BOARD_NAME = 'NOTICE'
	</select>
	
	<select id="photo_selectList" resultMap="BoardMap">
		SELECT POST_USER_NO, POST_ID, POST_NO,POST_BOARD_NAME,POST_CATEGORY_NAME,POST_TITLE,POST_CONTENT
		,POST_MDATE,POST_REGDATE,POST_HIT,POST_COMMENT_HIT,POST_LIKE,POST_DELFLAG,POST_LATITUDE,POST_LONGITUDE
		FROM POST
		WHERE POST_BOARD_NAME = 'PHOTO'
	</select>
	
	<select id="accompany_selectOne" parameterType="int" resultMap="BoardMap">
		SELECT POST_USER_NO, POST_ID, POST_NO,POST_BOARD_NAME,POST_CATEGORY_NAME,POST_TITLE,POST_CONTENT
		,POST_MDATE,POST_REGDATE,POST_HIT,POST_COMMENT_HIT,POST_LIKE,POST_DELFLAG,POST_LATITUDE,POST_LONGITUDE
		FROM POST
		WHERE POST_BOARD_NAME = 'ACCOMPANY'
		AND POST_ID = ${POST_ID}
	</select>
	
	<select id="notice_selectOne" parameterType="int" resultMap="BoardMap">
		SELECT POST_USER_NO, POST_ID, POST_NO,POST_BOARD_NAME,POST_CATEGORY_NAME,POST_TITLE,POST_CONTENT
		,POST_MDATE,POST_REGDATE,POST_HIT,POST_COMMENT_HIT,POST_LIKE,POST_DELFLAG,POST_LATITUDE,POST_LONGITUDE
		FROM POST
		WHERE POST_BOARD_NAME = 'NOTICE'
		AND POST_ID = ${POST_ID}
	</select>
	
	<select id="photo_selectOne" parameterType="int" resultMap="BoardMap">
		SELECT POST_USER_NO, POST_ID, POST_NO,POST_BOARD_NAME,POST_CATEGORY_NAME,POST_TITLE,POST_CONTENT
		,POST_MDATE,POST_REGDATE,POST_HIT,POST_COMMENT_HIT,POST_LIKE,POST_DELFLAG,POST_LATITUDE,POST_LONGITUDE
		FROM POST
		WHERE POST_BOARD_NAME = 'PHOTO'
		AND POST_ID = ${POST_ID}
	</select>
	
	<insert id="accompany_insert" parameterType="BoardDto">
		INSERT INTO POST VALUES
		(#{postUserNo}, POST_ID_SEQ.NEXTVAL, POST_DONGHANG_SEQ.NEXTVAL, 'ACCOMPANY', #{postCategoryName},#{postTitle},#{postContent}
		,#{postMdate},SYSDATE,#{postHit},#{postCommentHit},#{postLike},'N',#{postLatitude},#{postLongitude})
	</insert>
	
	<insert id="notice_insert" parameterType="BoardDto">
		INSERT INTO POST VALUES
		(POST_USER_NO, POST_ID_SEQ.NEXTVAL, POST_NOTICE_SEQ.NEXTVAL, 'NOTICE', #{postCategoryName}, #{postTitle},#{postContent}
		,null, SYSDATE,#{postHit},#{postCommentHit},#{postLike},'N',#{postLatitude},#{postLongitude})
	</insert>
	
	
	
</mapper>